
//PAGE1
.container{
  background-color:hsl(213, 7%, 24%);
  width: 300px;
  height: 300px;
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  border-radius: 20px;
}

.under-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2{
  margin:  10px 0;
}

.div-img{
  margin-top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #444451;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question{
  color: white;
}

.text-asking{
  width: 270px;
  font-size: 13px;
  color: #d3c2c2;
}

.div-button{
  margin-top: 15px;
  display: flex;
  gap: 17px;
}

.button{
  width:40px;
  height:40px;
  border-radius:50%;
  cursor: pointer;
  background-color: #444451;
  border: none;
  color: #d3c2c2;

}

.active{
  background-color: orange;
}
.button:hover{
  background-color: orange;
}


.submit{
  margin-top: 15px;
  width: 270px;
  height: 40px;
  background-color: orange;
  position: relative;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
.submit:hover{
  background: white;
}

//PAGE 2

.text-selected{
  margin-top: 15px;
  color: orange;
  width:200px;
  height: 20px;
  font-size: 15px;
  background-color: hsl(210, 8%, 40%);
  text-align: center;
  border-radius: 60px;
}

.text-thank{
  margin-top: 15px;
  color: white;
  font-size: 30px;
}

.img2{
  margin-top: 30px;
  width: 100px;
  height: 80px;
}

.text-final{
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
  color: #d3c2c2;
  width: 88%;
}
